body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css o estilos generales */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

body.register {
  background: linear-gradient(135deg, #020021, #181178);
}

body.login {
  background: url('https://i.imgur.com/T9wkmcF.jpeg') no-repeat fixed center center;
  background-size: cover;
  font-family: Montserrat, sans-serif;
}


